* {box-sizing: border-box;}

body,html { 
  margin: 0;
  font-family: 'Yatra One', cursive;
  height: 100%;
  background-color: black;
}



#navbar {
  overflow: hidden;
  background-color:rgba(0,0,0,0.4); /*This will make the navbar black and also tranparent This approach os better than writing color and opacity seperately*/
  padding: 20px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;

  }

#navbar a {
  float: left;
  color: #F5F5F5;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 20px; 
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  transition: 0.5s;
}

#navbar a:hover {
  background-color: #F5F5F5;
  color: black;
}

#navbar-right {
  float: right;
}


/*The following commands will be executed only when when the browser window is 500px wide or less*/

@media screen and (max-width: 500px) {
  
  #navbar a {
    float: left;
    display: block;
    text-align: left;
  }
  .header-right {
    float: left;
  }
}

/*FOR BACK GROUND IMAGE*/

* {
  box-sizing: border-box;
}

.bg-image {
   /*Full height */
  height: 50%; 
   /*Center and scale the image nicely*/ 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 /*Images used */
.img1 { background-image: url("baby.jpg"); margin-top: 170px; }
.img2 { background-image: url("study.jpg"); }
.img3 { background-image: url("class.jpg"); }
.img4 { background-image: url("code.jpg"); }



 /*Position text "Dream big.." in the middle of the page/image */

.bg-text {
  background-color: rgb(0,0,0);  Fallback color 
  background-color: rgba(0,0,0, 0.4);   
  color: #F5F5F5;
  font-weight: bold;
  font-size: 50px;
  border: 4px solid #f1f1f1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 300px;
  padding: 20px;
  text-align: center;
}

/*FOR ME IMAGE*/

.container {
  position: relative;
  max-width: 800px;  
  margin: 0 auto;  /*Center it */
}

.container img {vertical-align: middle;} /*for transparent overlap of text on image*/

.container .content {
  position: absolute;  /*Position the background text */
  bottom: 0;
   /* At the bottom. Use top:0 to append it to the top*/ 
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px;
  } /* Some padding */

.responsive {
  width: 100%;
  height: auto;
}

  /*FOR BOTTOM NAVBAR*/

.navbarBottom{
  overflow: hidden;
  background-color: black;
  bottom: 0;
  width: 100%;
  /*float: left;*/
  /*display: block;*/
  color: #F5F5F5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 21px;
  
  }








