* {box-sizing: border-box;}

body,html { 
  margin: 0;
  font-family: 'Yatra One', cursive;
  height: 100%;
  background-color: black;
  /*overscroll-behavior: none;*/
}


html {
  scroll-behavior: smooth;
  
}

#navbar #logo {
  transition: 0.8s;
  font-size: 65px;
  font-family: 'Permanent Marker', cursive;
  cursor: none;
  line-height: 25px;


}

#navbar #navbar-right #iconsInNavbar{
  font-size: 20px;
}




#navbar {
  overflow: hidden;
  background-color:rgba(0,0,0,0.4); /*This will make the navbar black and also tranparent This approach os better than writing color and opacity seperately*/
  padding: 30px 10px; /*When webpage is launched navbar has this padding*/
  transition: 0.5s;
  position: fixed; /*To make navbar fixed when we scroll*/
  width: 100%;
  top: 0;
  z-index: 99;

  }

#navbar a {
  float: left;
  color: #F5F5F5;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  border-radius: 4px;
}



#navbar a:hover {
  background-color: #F5F5F5;
  color: black;
  

}

#navbar-right {
  float: right; 
  
}

#navbar-right a{

  transition: 0.8s;
  

}
#navbar-right a:hover {
  background-color: #F5F5F5;
  color: black;

  }






/*The following commands will be executed only when when the browser window is 500px wide or less*/

@media screen and (max-width: 500px) {
  
  #navbar a {
    float: left;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}

/*FOR BACK GROUND IMAGE*/

* {
  box-sizing: border-box;
}

.bg-image {
   /*Full height */
  min-height: 100%; 
   /*Center and scale the image nicely*/ 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

 /*Images used */
.img1 { background-image: url("earth.jpg");}
.img2 { background-image: url("study.jpg"); }
.img3 { background-image: url("class.jpg"); }
.img4 { background-image: url("screen.jpg"); }



 /*Position text "Dream big.." in the middle of the page/image */

#bg-text {
  
  /*background-color: rgba(0,0,0, 0.4);  */
  opacity: 0.8; 
  color: #F5F5F5;
  font-weight: bold;
  /*border: 4px solid #f1f1f1*/;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 250px;
  padding: 20px;
  text-align: center;
}



  /*FOR BOTTOM NAVBAR*/

.navbarBottom{
  overflow: hidden;
  background-color: black;
  bottom: 0;
  width: 100%;
  color: #F5F5F5;
  padding: 1px;
  text-decoration: none;
  font-size: 20px;
  
  }

 /* social icon bar */
.icon-bar {
  
  text-align: center;
  bottom: 0;


}

/* Style the icon bar links */
.icon-bar a {
  
  text-align: center;
  padding: 15px;
  transition: all 0.3s ease;
  color: white;
  font-size: 28px;
  border-radius: 4px;

  }

 


/* Style the social media icons with color, if you want */

.icon-bar a:hover {
  background-color: #F5F5F5;
  color: black;
  transition: 0.4s;
  /*padding: 10px; */

}

.facebook {
  background: #000;
  color:#F5F5F5 ;
}

.twitter {
  background: #000;
  color: ;
}

.google {
  background: #000;
  color: #F5F5F5;
}

.linkedin {
  background: #000;
  color: #F5F5F5;
}

/*FOR GO TO TOP BUTTON*/

#myBtn {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  font-size: 20px; /* Increase font size */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(0, 0, 0, 0.4); /* Set a background color */
  color: #F5F5F5; /* Text color */
  cursor: pointer;  /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 4px; /* Rounded corners */
  font-family: 'Yatra One', cursive;
  font-weight: bold;
}

#myBtn:hover {
  background-color: #F5F5F5; /* Increase font size */
  color: black;
}
#myBackBtn{
  
  position: fixed;
  top: 2px; /* Place the button at the bottom of the page */
  right: 2px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  font-size: 20px; /* Increase font size */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(200, 200,200, 0.1); /* Set a background color */
  color: #F5F5F5; /* Text color */
  cursor: pointer;  /* Add a mouse pointer on hover */
  padding: 8px; /* Some padding */
  border-radius: 4px; /* Rounded corners */
  font-family: 'Yatra One', cursive;
  font-weight: bold;
}

#myBackBtn:hover {
  background-color: #F5F5F5; /* Increase font size */
  color: black;
}







